<footer class="footer">
  <div class="footer__left">
    <h3 class="footer__copy">Copyright © 2023 Peterson</h3>
    <p>Version 1.0</p>
  </div>
  <div class="footer__right">
    <div class="logo_peterson">
      <img class="logo_peterson__text" src="./assets/img/peterson.svg" alt="">
      <img class="logo_peterson__img" src="./assets/img/peterson_logo.svg" alt="">
    </div>
    <div class="footer__line"></div>
    <div class="logo_allocate">
      <img src="./assets/img/allocate.svg" alt="">
    </div>
  </div>
</footer>
