$base-color: #1B1E42;
$grey: #4F6566;
$grey-bg: #D9D8DB;
$grey-border: #dee5e5;
$grey-text: #799495;
$grey-label: #E4E9EA;
$red: #E30613;
$white: #fff;
$green: #54CE59;
$green-text: #16811B;
$green-bg: #4DAE80;
$orange: #F1CB68;
$orange-text: #967251;
$purple: #965DDF;
$purple-text: #4B2E71;
$purple-light: #7B6D8D;
$purple-light-text: #D7CEE1;
$aqua: #65DEF1;
$aqua-text: #458F9B;
